@import "navigation.less";
@import "search.less";
@import "loader.css";
@import "modal.less";

.layout-container {
	background: #fff;
	display: flex;
}

.layout-navigation {
	display: flex;
	flex-direction: column;
	flex-basis: 18.75em;
	flex-shrink: 0;
}

.layout-content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	min-height: 100vh;

	border-left: 1px @layout-border-color solid;
}

.header {
	display: flex;
	flex-basis: 5rem;
}

.content {
	border-top: 1px @layout-border-color solid;
}

.logo {
	margin-top: 1em;
	margin-left: 2em;
}

.collection {
	margin-left: 3rem;
	margin-top: 2rem;

	h3 {
		font-size: 1.5rem;
		font-weight: 200;
	}

	.collection-items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		> * {
			margin-right: 1.5rem;
			margin-bottom: 1rem;
		}
	}
}

.book, .person {
	display: block;
	flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 12rem;
    
	* {
		display: block;
	}

	img {
		max-width: 149px;
	}

	.author {
		color: @text-label-color;
	}
}

.person {
	cursor: pointer;
}

.person-image {
	width: 137px;
	height: 137px;

	display: flex;
    justify-content: center;
    align-items: center;

    background: #E5E5E5;
    border-radius: 50%;

    margin-bottom: 1rem;
}
