.search-container {

	display: block;
	line-height: 5rem;
	position: relative;
	width: 100%;
	box-sizing: border-box;

	input {
		border: none;
		box-sizing: border-box;
		height: 95%;
		width: 100%;
		padding-left: 5rem;
	}

	.button {
		position: absolute;
		top: 0;
		left: 0;
	}
}